.project {
  // grid-column: 2/14;
  max-width: 1480px;
  margin: auto;
  padding: 6rem 0;

  .projects-header {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .projects-title {
    margin-bottom: 0;
  }

  .projects-switch-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem 0;
  }

  h5 {
    text-transform: uppercase;
    color: var(--whiteLight) !important;
    font-size: 0.8rem;
    letter-spacing: 3px;
  }
  h2 {
    font-size: 2.2rem;
    text-transform: capitalize;
    letter-spacing: -1px;
    transition: opacity 0.3s ease;
  }

  // Neon Switch Styles
  .projects-switch,
  .projects-switch__input {
    -webkit-tap-highlight-color: transparent;
  }

  .projects-switch {
    --switch-hue: 223;
    --switch-off-hue: 3;
    --switch-on-hue1: 123;
    --switch-on-hue2: 168;
    --switch-trans-dur: 0.6s;
    --switch-trans-timing: cubic-bezier(0.65, 0, 0.35, 1);

    display: block;
    position: relative;
    width: 3.5em;
    height: 2.1em;
    font-size: 16px;
  }

  .projects-switch__base-outer,
  .projects-switch__base-inner {
    display: block;
    position: absolute;
  }

  .projects-switch__base-outer {
    border-radius: 1.25em;
    box-shadow: -0.125em -0.125em 0.25em hsl(var(--switch-hue), 10%, 30%),
      0.125em 0.125em 0.125em hsl(var(--switch-hue), 10%, 30%) inset,
      0.125em 0.125em 0.25em hsl(0, 0%, 0%),
      -0.125em -0.125em 0.125em hsl(var(--switch-hue), 10%, 5%) inset;
    top: 0.125em;
    left: 0.125em;
    width: calc(100% - 0.25em);
    height: calc(100% - 0.25em);
  }

  .projects-switch__base-inner {
    border-radius: 1.125em;
    box-shadow: -0.25em -0.25em 0.25em hsl(var(--switch-hue), 10%, 30%) inset,
      0.0625em 0.0625em 0.125em hsl(var(--switch-hue), 10%, 30%),
      0.125em 0.25em 0.25em hsl(var(--switch-hue), 10%, 5%) inset,
      -0.0625em -0.0625em 0.125em hsl(var(--switch-hue), 10%, 5%);
    top: 0.375em;
    left: 0.375em;
    width: calc(100% - 0.75em);
    height: calc(100% - 0.75em);
  }

  .projects-switch__base-neon {
    display: block;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    path {
      stroke-dasharray: 0 104.26 0;
      transition: stroke-dasharray var(--switch-trans-dur)
        var(--switch-trans-timing);
    }
  }

  .projects-switch__input {
    outline: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

    &:before {
      border-radius: 0.125em;
      box-shadow: 0 0 0 0.125em hsla(var(--switch-hue), 90%, 50%, 0);
      content: "";
      display: block;
      position: absolute;
      inset: -0.125em;
      transition: box-shadow 0.15s linear;
    }

    &:focus-visible:before {
      box-shadow: 0 0 0 0.125em hsl(var(--switch-hue), 90%, 50%);
    }
  }

  .projects-switch__knob,
  .projects-switch__knob-container {
    border-radius: 1em;
    display: block;
    position: absolute;
  }

  .projects-switch__knob {
    background-color: hsl(var(--switch-hue), 10%, 15%);
    background-image: radial-gradient(
        88% 88% at 50% 50%,
        hsl(var(--switch-hue), 10%, 20%) 47%,
        hsla(var(--switch-hue), 10%, 20%, 0) 50%
      ),
      radial-gradient(
        88% 88% at 47% 47%,
        hsl(var(--switch-hue), 10%, 85%) 45%,
        hsla(var(--switch-hue), 10%, 85%, 0) 50%
      ),
      radial-gradient(
        65% 70% at 40% 60%,
        hsl(var(--switch-hue), 10%, 20%) 46%,
        hsla(var(--switch-hue), 10%, 20%, 0) 50%
      );
    box-shadow: -0.0625em -0.0625em 0.0625em hsl(var(--switch-hue), 10%, 15%)
        inset,
      -0.125em -0.125em 0.0625em hsl(var(--switch-hue), 10%, 5%) inset,
      0.75em 0.25em 0.125em hsla(0, 0%, 0%, 0.8);
    width: 1.4em;
    height: 1.4em;
    transition: transform var(--switch-trans-dur) var(--switch-trans-timing);
  }

  .projects-switch__knob-container {
    overflow: hidden;
    top: 0.35em;
    left: 0.35em;
    width: calc(100% - 0.7em);
    height: calc(100% - 0.7em);
  }

  .projects-switch__knob-neon {
    display: block;
    width: 1.4em;
    height: auto;

    circle {
      opacity: 0;
      stroke-dasharray: 0 90.32 0 54.19;
      transition: opacity var(--switch-trans-dur) steps(1, end),
        stroke-dasharray var(--switch-trans-dur) var(--switch-trans-timing);
    }
  }

  .projects-switch__knob-shadow {
    border-radius: 50%;
    box-shadow: 0.125em 0.125em 0.125em hsla(0, 0%, 0%, 0.9);
    display: block;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    width: 1.4em;
    height: 1.4em;
    transition: transform var(--switch-trans-dur) var(--switch-trans-timing);
  }

  .projects-switch__led {
    background-color: hsl(var(--switch-off-hue), 90%, 70%);
    border-radius: 50%;
    box-shadow: 0 -0.0625em 0.0625em hsl(var(--switch-off-hue), 90%, 40%) inset,
      0 0 0.125em hsla(var(--switch-off-hue), 90%, 70%, 0.3),
      0 0 0.125em hsla(var(--switch-off-hue), 90%, 70%, 0.3),
      0.125em 0.125em 0.125em hsla(0, 0%, 0%, 0.5);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.25em;
    height: 0.25em;
    transition: background-color var(--switch-trans-dur)
        var(--switch-trans-timing),
      box-shadow var(--switch-trans-dur) var(--switch-trans-timing);
  }

  .projects-switch__text {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
  }

  .projects-switch__input:checked ~ .projects-switch__led {
    background-color: hsl(var(--switch-on-hue1), 90%, 70%);
    box-shadow: 0 -0.0625em 0.0625em hsl(var(--switch-on-hue1), 90%, 40%)
        inset,
      0 -0.125em 0.125em hsla(var(--switch-on-hue1), 90%, 70%, 0.3),
      0 0.125em 0.125em hsla(var(--switch-on-hue1), 90%, 70%, 0.3),
      0.125em 0.125em 0.125em hsla(0, 0%, 0%, 0.5);
  }

  .projects-switch__input:checked ~ .projects-switch__base-neon path {
    stroke-dasharray: 52.13 0 52.13;
  }

  .projects-switch__input:checked ~ .projects-switch__knob-shadow,
  .projects-switch__input:checked
    ~ .projects-switch__knob-container
    .projects-switch__knob {
    transform: translateX(100%);
  }

  .projects-switch__input:checked
    ~ .projects-switch__knob-container
    .projects-switch__knob-neon
    circle {
    opacity: 1;
    stroke-dasharray: 45.16 0 45.16 54.19;
    transition-timing-function: steps(1, start), var(--switch-trans-timing);
  }

  &-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 4rem;
    color: var(--bg);
    margin: 6rem auto 0 auto;
    max-width: 1720px;
    width: 100%;
  }

  &-box {
    padding: 2rem;
    height: 18rem;
    @media only screen and (max-width: 56.25em) {
      height: 18rem;
    }
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;

    &:hover {
      border: solid 2px var(--white);
      color: var(--white);
    }
  }

  .project-box:nth-child(1):hover:after {
    outline: 2px solid lightblue;
    background: lightblue;
  }
  .project-box:nth-child(2):hover:after {
    background: lightcoral;
    outline: 2px solid lightcoral;
  }
  .project-box:nth-child(3):hover:after {
    background: lightcyan;
    outline: 2px solid lightcyan;
  }
  .project-box:nth-child(4):hover:after {
    background: lightgray;
    outline: 2px solid lightslategray;
    .project-box__link {
      width: min-content;
    }
  }
  .project-box:nth-child(5):hover:after {
    background: lightgreen;
    outline: 2px solid lightgreen;
    .project-box__link {
      width: min-content;
    }
  }
  .project-box:nth-child(6):hover:after {
    background: lightyellow;
    outline: 2px solid lightyellow;
    .project-box__link {
      width: min-content;
    }
  }
  .project-box:nth-child(7):hover:after {
    background: lightseagreen;
    outline: 2px solid lightseagreen;
    .project-box__link {
      width: min-content;
    }
  }
  .project-box:nth-child(8):hover:after {
    background: lightpink;
    outline: 2px solid lightpink;
    .project-box__link {
      width: min-content;
    }
  }

  &-box__link {
    align-self: flex-end;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media only screen and (max-width: 56.25em) {
      // tab-port
      width: 30%;
    }
    a ion-icon {
      width: 35px;
      height: 25px;
      color: var(--white);
    }
  }
  &-box__content {
    align-self: center;
    h3 {
      margin-bottom: 3rem;
      letter-spacing: -0.5px;
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: 800;
      text-transform: capitalize;
      color: var(--whiteLight);
    }
    h5 {
      color: var(--secondColor);
      font-size: 1em;
      font-weight: 400;
    }
  }
}

.project-box {
  position: relative;
  background: var(--bg);
  border: 1px solid var(--white);
  &:after {
    content: "";
    position: absolute;
    width: 103%;
    height: 101%;
    top: 1rem;
    right: 0.5rem;
    z-index: -1;
  }
  &:hover {
    background: none;
    background-color: var(--darkBlue);
    transition: all 0.2s ease;
  }
  // &:hover img,
  // h3,
  // h5 {
  //   filter: invert(1);
  // }
  &:hover:after {
    transition: all 0.2s ease;
  }

  &__absolute-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
