// Terminal Fonts for Retro-Futuristic Aesthetic
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,600&display=swap");

@font-face {
  font-family: "the_historia_demoregular";
  src: url("../fonts/fontsfree-net-thehistoriademo-webfont.woff2")
      format("woff2"),
    url("../fonts/fontsfree-net-thehistoriademo-webfont.woff") format("woff");
}
